// ===============
// colors palette
// ===============
:root {
  --cyanide: #0096ef;
  --anthracite: #303030;
  --standart: #ebebeb;
  --908fd1: #908fd1;
  --d6fb5e: #d6fb5e;
  --f45a34: #f45a34;
  --a5cbee: #a5cbee;
  --8696a8: #8696a8;
  --8696a8: #e868af;
  --357a6d: #357a6d;
  --ffffff: #fff;
  --back: #f9f9f9;
  --green: #25c26e;
  --red: #ff554a;
  --font-family: "Poppins", sans-serif;
  --second-family: "Inter", sans-serif;
}
